html {
    font-family: verdana, sans-serif;
    font-weight: 400;
    font-size: 10pt;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: left;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
    padding-top: 1%;
    line-height: 1.3em;
}

body a{
    color: #2580a2;
    text-decoration: none;
}

pre {
    line-height: 1.3;
}

#postamble {
    margin-top: 22pt;
    font-size: 10pt;
}

h1 {
    float: left;
    text-align: left!important;
    background: #283250;
    width: 100%;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 400;
    margin: 0px 0px;
    color: #FFFFFF;
    margin-bottom: 0.5em;
    float: center; /* If you want it to be centered */
    padding-bottom: 30px;
    padding-left: 5px;
    padding-top: 10px;
}

h2 {
    font-size: 14pt;
    line-height: 1.0;
}

pre.src {
    background-color: #F3F5F7;
}

.example {
    background-color: #F3F5F7;
}

